main{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
}

.about-container{
    height: 100%;
    width: 50%;
}

.about-container-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfc3fd;
}

.about-content-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-content-container{
    width: 70%;
    height: 70%;
    background-color: #6f5acd;
    border-radius: 2%;
}

.text{
    margin: 32px;
    font-size: 115%;
    line-height: 1.9;
    font-family: 'Raleway', sans-serif;
    color: #ffff;
}

#team-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.team-row{
    height: 50%;
    width: 100%;
    display: flex;

}

.team-member{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team{
    width: 100%;
    padding: 0;
}

.team-image{
    height: 60%;

}

.team-position{
    height: 20%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6{
    font-size: 22px;
    text-align: center;
}

